abcdf/src/main/mule/abcdf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4d39be06-808a-458c-aab4-8b3a80404706" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="b798d11b-8748-4e85-981a-3c685492b876" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="abcdfFlow" doc:id="d817a14b-fe3b-4f09-bc41-7224bb5ddb7d" >
		<http:listener doc:name="Listener" doc:id="0ef88306-9997-42f9-82d8-a4374293de6d" config-ref="HTTP_Listener_config" path="/karthik"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="2811245a-c257-4c8f-aab6-57f16ca95ae0" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="30490f29-5903-407e-aca1-d13deae917a0" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="0e5fd065-94ad-4ece-95f0-ff3fa8c3963d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="b72a80b6-26b0-4e3e-99f0-2ae9435e1d37" config-ref="Web_Service_Consumer_Config" operation="Subtract">
			<wsc:addressing wsaTo="http://www.dneonline.com/calculator.asmx" wsaAction="http://www.dneonline.com/calculator.asmx/CalculatorSoap/SubtractRequest"/>
		</wsc:consume>
		<ee:transform doc:name="Transform Message" doc:id="b95f9d36-d0e8-4efe-9532-49424fb1ea13" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f07c3cb3-5415-43e4-9281-5d54ed819f48" message="#[payload]"/>
	</flow>
</mule>
